.modal__layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgba(128, 128, 128, 0.6);
}

.modal__root {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  font-weight: 700;
  font-size: 22px;
}

.modal__body {
  padding: 3rem;

  .modal_text {
    width: 100%;
  }
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;

  .modal_button {
    border: 1px solid gray;
    border-radius: 4px;
    cursor: pointer;

    &-cancel {
      margin-right: 10px;

      &:hover {
        background-color: rgb(144, 148, 144);
      }
    }

    &-save {
      background-color: rgb(210, 241, 210);

      &:hover {
        background-color: rgb(139, 189, 139);
      }
    }
  }
}
