.users__container {
  height: 100vh;
  padding: 10px 35px;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 1px 5px 3px lightgrey;
  display: flex;
  flex-direction: column;
}

.users__button-chat {
  width: 100px;
  margin-bottom: 15px;
}

.users__button-add {
    padding: 5px 10px;
    cursor: pointer;
}
