.user-inputs__container {
    display: flex;
    flex-direction: column;
}

.user-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.user-field__label {
    font-size: 12px;
}